@import './_theme';
@import './_layout';

// Buttons
.button {
  &,
  &:link,
  &:visited {
    @include boxModel($padding: $spacingDemi, $border-radius: $radiusFull);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: $fontWeightSemibold;
    cursor: pointer;
    color: $white;
    background-color: $primary;
    border-color: $primary;

    &:hover {
      opacity: 0.85;
    }
  }
}

.button-secondary {
  background-color: $secondary;
  border-color: $secondary;
}

.button-success {
  background-color: $success;
  border-color: $success;
}

.button-error {
  background-color: $danger;
  border-color: $danger;
}

.button-disabled {
  background-color: $gray1;
  border-color: $gray1;
  color: $gray4;

  &:hover {
    opacity: 1;
  }
}
