@import './_theme';
@import './_layout';

// Buttons
.button {
  &,
  &:link,
  &:visited {
    @include boxModel($padding: $spacingDemi, $border-radius: $radiusBase);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: $fontWeightSemibold;
    cursor: pointer;
    color: $white;
    background-color: $primary;
    border-color: $primary;

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
}

.secondary-button {
  background-color: $secondary;
  border-color: $secondary;

  &:hover {
    background-color: $white;
    color: $secondary;
  }
}

.success-button {
  background-color: $success;
  border-color: $success;

  &:hover {
    background-color: $white;
    color: $success;
  }
}

.danger-button {
  background-color: $danger;
  border-color: $danger;

  &:hover {
    background-color: $white;
    color: $danger;
  }
}

.disabled {
  background-color: $gray1;
  border-color: $gray1;
  color: $gray4;

  &:hover {
    background-color: $gray1;
    border-color: $gray1;
    color: $gray4;
  }
}
