@import './_theme';
@import './_layout';

// Buttons
.button {
  &,
  &:link,
  &:visited {
    @include boxModel($padding: $spacingDemi, $border-radius: $radiusFull);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: $fontWeightSemibold;
    cursor: pointer;
    color: $white;
    background-color: $black;
    border-color: $black;

    &:hover {
      opacity: 0.85;
    }
  }
}

.button-primary {
  background-color: $primary;
  border-color: $primary;
}

.button-secondary {
  background-color: $secondary;
  border-color: $secondary;
}

.button-success {
  background-color: $success;
  border-color: $success;
}

.button-error {
  background-color: $error;
  border-color: $error;
}

.button-disabled {
  background-color: $gray1;
  border-color: $gray1;
  color: $gray4;

  &:hover {
    opacity: 1;
  }
}

// Cards
.card {
  @include boxModel($padding: $spacingDemi);
  margin-bottom: $spacingDemiXL;

  &-header {
    @include flex($direction: row, $justify: center);
    background-color: $primary;
    color: $white;
    padding: $spacingDemi;
  }

  &-body {
    padding: $spacingDemi;
  }

  &-footer {
    text-align: center;
    margin: $spacingBase $spacingDemi $spacingDemi;
  }
}

//TODO - Change colors here if needed
.card-dark {
  border-color: $primary;

  & .card-content {
    color: $white;
  }
}

// Headings
.heading {
  font-size: 2rem;
  font-weight: $fontWeightSemibold;
  color: $white;
  text-align: center;
  width: '100%';
}

.sub-heading {
  font-size: 1.5rem;
  color: $primary;
  margin-bottom: $spacingDemi;
}
