@import './ui/themes/_theme';
@import './ui/themes/_layout';
@import './ui/themes/_reusable-styles';
@import './ui/themes/_media-querries';

#root {
  font-family: $fontFamilyPoppins, serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  @include flex;
}

//TODO - Change colors here if needed
#container-light {
  background-color: $white;
  min-height: 100vh;
  min-height: 100svh;
  transition: background-color 0.3s ease-in-out;
}

#container-dark {
  background-color: $dark-blue;
  min-height: 100vh;
  min-height: 100svh;
  transition: background-color 0.3s ease-in-out;
}
